name: Build Test Images

on:
  workflow_dispatch:

jobs:
    build-test-image:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                dotnet-version: [10.0]
                rt-image:
                    - noble 
                    - alpine3.22 
                    - noble-chiseled
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: ./testimages
            push: true
            build-args: |
              rt_image=${{ format('mcr.microsoft.com/dotnet/aspnet:{0}-{1}', matrix.dotnet-version, matrix.rt-image) }}
              sdk_image=${{ format('mcr.microsoft.com/dotnet/sdk:{0}', matrix.dotnet-version) }}
            tags: ghcr.io/gprossliner/kdotnet-dump-testapp:${{ matrix.dotnet-version }}-${{ matrix.rt-image }}
            platforms: linux/amd64,linux/arm64
    